* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: sans-serif;
}


body {
	height: 100vh;
	background-color: #363945;
}
.explorer-container {
	margin: 20px;
	margin-left: calc(200px + 50px); 
}
.header-nav {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	position: fixed;
	top: 0;
	background-color: #363945;
	width: 100%;
	height: 60px;
	padding: 0px 20px 0px 10px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
	z-index: 3;
}
.site-nav-bar {
	background-color: #363945;
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	width: 200px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 10px;
	z-index: 2;
	gap: 5px;
}


/* Custom controls*/
.button {
	padding: 10px 15px;
	color: white;
	background-color: rgba(35, 35, 35, 0.75);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.item-button {
	border: none;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
	font-size: small;
	height: 100px;
	width: 150px;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px;
}
.item-button:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.item-button > div {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-button > div > .item-icon {
	display: flex;
	margin-bottom: 20px;
	height: 32px;
	width: auto;
}
.item-button > div > p {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 5px;
	font-size: small;
	max-height: 37px;
}
.item-button-list {
	display: flex;
	flex-flow: row;
	background-color: rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 5px;
	gap: 5px;
	align-items: center;
	cursor: pointer;
	padding: 10px;
	font-size: small;
	max-width: 250px;
}
.item-button-list:hover {
	background-color: rgba(0, 0, 0, 0.25);
}
.item-button-list > div {
	display: flex;
	flex-flow: row;
	align-items: center;
	gap: 10px;
}
.item-button-list > div > .item-icon {
	height: 16px;
	width: auto;
}
.go-back-button {
	background-color: transparent;
	color: white;
	font-size: large;
	border: none;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
}
.go-back-button:hover {
	background-color: rgba(0, 0, 0, 0.15);
}
.header-nav-button {
	background-color: transparent;
	border: none;
	border-radius: 5px;
	font-size: large;
	padding: 10px;
	cursor: pointer;
}
.header-nav-button:hover {
	background-color: rgba(0, 0, 0, 0.15);
}
.site-nav-bar-button {
	background-color: rgba(0, 0, 0, 0.15);
	border: none;
	width: 100%;
	text-align: left;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	display: flex;
	flex-flow: row;
	gap: 10px;
	font-size: small;
}
.site-nav-bar-button:hover {
	background-color: rgba(0, 0, 0, 0.25);
}


.file-searchbar {
	display: flex;
	flex-flow: row;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.25);
	width: 30%;
	border-radius: 5px;
}
.file-searchbar > input {
	width: 100%;
	padding: 10px 15px;
	background-color: #282b34;
	border-radius: 5px;
	border: none;
	z-index: 3;
}
.search-button, .cancel-search-button {
	margin-left: -2px;
	padding: 10px 10px 10px 12px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	z-index: 2;
}
.cancel-search-button {
	display: none;
}
.search-button:hover, .cancel-search-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}


.directory-list {
	width: 100%;
	display: flex;
	flex-flow: wrap;
}
